@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css");

// navbar
.navbar {
  background: #f8f9f9;
  height: 50px;
  padding: 0;
}
.navbar-brand {
  font-size: 20px;
}
// sidebar
.sidebar-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 50px;
  padding: 16px;  
  &:hover {
    background-color: #dde0e4;
  }
  span {
    width: 16px;
    height: 2px;
    display: inline-block;
    background-color: #525960;
    position: relative;
    &::after, &::before {
      transition: all 0.1s linear;
      position: absolute;
      width: 16px;
      height: 2px;
      display: inline-block;
      background-color: #525960;
      content: "";
    }
    &::after {
      top: -5px;
    }
    &::before {
      bottom: -5px;
    }
  }
}

.sidebar-icon-toggle {
  background-color: transparent !important;
  &::after {
    transition: all 0.1s linear !important;
    top: 0 !important;
    transform: rotate(45deg);
  }
  &::before {
    transition: all 0.1s linear !important;
    bottom: 0 !important;
    transform: rotate(-45deg);
  }
}

.sidebar {
  top: 50px;
  width: 240px;
  bottom: calc(50px - 100vh);
  .sidebar-header {
    background-color: #dde0e4;
    border-radius: 0 !important;
    border-right: 3px solid orange;
  }
  .sidebar-nav {
    color: #838c95;
    list-style: none;
    padding: 11px !important;
    li {
      font-size: 14px;
    }
    .nav-link {
      padding-left: 23px;
      &:hover {
        color: black;
      }
    }
  }
}

// end of sidebar
.nav-link {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  position: relative;
  font: unset;
  cursor: pointer;
  user-select: auto;
  border-radius: 1000px;
  white-space: nowrap;
  font-size: 13px;
}

.input-group {
  height: 32px;
  padding: 0;
  border-radius: 3px;
  input {
    height: auto !important;
    outline: none;
    font-size: 13px;
  }
}

.register {
  box-sizing: border-box;
  width: 140px !important;
  display: flex;
  .sign {
    border-radius: 3px;
    height: 32px;
    padding: 5px 10px;
    width: 58px;
    background-color: #e1ecf4;
    font-size: 13px;
    box-shadow: inset 0px 1px 1px #f6f9fb;
    border: 1px solid #7aa7c7 !important;
    cursor: pointer;
    &:hover {
      background-color: #bfdef3;
    }
    &--blue {
      width: 67px;
      box-shadow: inset 0px 1px 1px #6cc0ff;
      background-color: #0a95ff;
      margin-left: 5px;
      &:hover {
        background-color: #0378d1;
      }
    }
  }
}

@media (min-width: 641px) and (max-width: 824px) {
  .navbar-nav {
    .nav-item {
      display: none;
      &:nth-child(even) {
        display: block;
      }
    }
  }
  .input-group {
    input {
      width: 80%;
    }
  }
}
@media screen and (max-width: 640px) {
  .navbar-brand {
    margin: 0;
    span {
      display: none;
    }
  }
  .navbar-nav {
    .nav-item {
      display: none;
      &:nth-child(even) {
        display: block;
      }
    }
  }
  .input-group {
    cursor: pointer;
    width: 40px;
    background-color: transparent !important;
    border: none !important;
    input {
      display: none;
    }
  }
}
// end of navbar