:root {
  --primary-bg: #f1f2f3;
  --text-color: #3b4045;
  --button-hover-color: #f7f8f8;
  --primary-border-color: #d6d9dc;
  --blue-shadow: hsla(206, 100%, 40%, 0.15);
  --red-shadow: hsla(2, 94%, 42%, 0.15);
}

p {
  margin-bottom: 0px !important;
}

.login {
  background: var(--primary-bg);
}

.login__container {
  max-width: var(--primary-container);
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.login__logo-box {
  width: 35px;
  height: 37px;
  overflow: hidden;
  position: relative;
  margin-bottom: 24px;
}

.login__logo {
  height: 35px;
  object-fit: contain;
  position: absolute;
  top: 5%;
  left: 5%;
}

/* FORM */

.login__form {
  max-width: 278px;
  width: 100%;
  padding: 24px;
  background: white;
  border-radius: 7px;
  color: var(--text-color);
  margin-bottom: 24px;
}

.login__form-button {
  width: 100%;
  margin: 12px 0 6px 0;
  padding: 10px;
  font-size: 13px;
  color: white;
  background-color: hsl(206, 100%, 52%);
  border-radius: 6px;
  border: none;
}

.login__form-button:hover {
  background-color: #0074cc;
}

/* BOTTOM */
.login__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.login__bottom p a {
  color: #0074cc;
}

.login__bottom p a:hover {
  color: #0a95ff;
}
