:root {
  --white: hsl(0, 0%, 100%);
  --black-600: hsl(210, 8%, 35%);
  --black-500: hsl(210, 8%, 45%);
  --black-700: hsl(210, 8%, 25%);
  --black-800: hsl(210, 8%, 15%);
  --orange-100: hsl(27, 95%, 90%);
  --orange-500: hsl(27, 90%, 50%);
  --orange-600: hsl(27, 90%, 45%);
  --blue-100: hsl(206, 96%, 90%);
  --blue-300: hsl(206, 90%, 69.5%);
  --blue-500: hsl(206, 100%, 52%);
  --blue-600: hsl(206, 100%, 40%);
  --br-lg: 7px;
}

.wrapper-home {
  max-width: 1950px;
  margin-left: auto;
  margin-right: auto;
  padding: 48px;
}

.bgc-dark-gradient {
  clip-path: url(#myCurve);
  background: var(--black-700);
  background: linear-gradient(
    180deg,
    var(--black-800) 0%,
    var(--black-600) 130%
  );
  padding: 32px 32px 128px;
  border-radius: 7px;
}

.box-wrapper {
  position: relative;
  display: flex;
  max-width: 980px;
  margin: 0 auto;
}

.box-wrapper .img-left {
  position: absolute;
  left: 5px;
  top: 128px;
  margin-top: 100px;
}

.box-wrapper .img-right {
  position: absolute;
  right: 5px;
  top: -55px;
  margin-top: 0;
}

.box {
  flex-basis: 50%;
  padding: 16px;
}

.box-inner {
  position: relative;
  padding: 24px;
  color: var(--black-800);
  border-top-left-radius: var(--br-lg);
  border-top-right-radius: var(--br-lg);
  border-bottom-left-radius: var(--br-lg);
  text-align: center;
}

.box-inner::after {
  clip-path: polygon(18px 0, 32px 0, 0 40px, 0 38px, 0 0, 18px 0);
  background: var(--blue-100);
  width: 32px;
  height: 32px;
  position: absolute;
  top: 99%;
  left: 0;
  display: block;
  content: "";
  border-radius: 0 5px 0;
}

.box-orange::after {
  background: var(--orange-100);
  transform: scaleX(-1);
  right: 0;
  left: auto;
}

.box-blue {
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 0;
}

.box-inner h2 {
  font-size: 19px;
  font-weight: 500;
  line-height: 1.3;
  margin: 0 39px 19px;
}

.bgc-orange {
  background-color: var(--orange-100);
}

.fc-orange {
  color: var(--orange-500);
}

.svg-wrapper {
  margin-bottom: 16px;
}

.orange-btn {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 12px 32px;
  border-radius: 5px;
  background-color: var(--orange-500);
}

.orange-btn:hover {
  background-color: var(--orange-600);
  color: #fff;
}

.box-paragrph {
  margin-top: 12px;
  font-size: 13px;
}

.box-paragrph a {
  text-decoration: underline !important;
  color: var(--black-800);
}

.box-paragrph a:hover {
  color: var(--orange-600);
}

.bgc-blue {
  background-color: var(--blue-100);
}

.fc-blue {
  color: var(--blue-500);
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.divider-text {
  padding: 0 13px;
  font-size: 12px;
}

.divider .border {
  flex-basis: 33%;
  border-top: 1px solid var(--blue-300) !important;
}

.blue-btn {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 12px;
  border-radius: 5px;
  background-color: var(--blue-500);
}

.blue-btn:hover {
  background-color: var(--blue-600);
  color: #fff;
}

.ml-8 {
  margin-left: 8px;
}

.slider-wrapper {
  padding: 64px 0;
  text-align: center;
  color: #f8f9f9;
}

.slider-wrapper h1 {
  font-size: 55px;
}

.slider-wrapper .orange {
  color: var(--orange-500);
}

.main-divider {
  height: 8px;
  width: 64px;
  margin: 0 auto;
  display: block;
  background-color: var(--black-500);
  border-radius: 1000px;
}

.statistics-wrapper {
  display: flex;
  padding: 32px 12px 64px;
}

.statistics-box {
  padding: 32px 0;
  color: #f8f9f9;
  text-align: center;
}

.statistics-box h5 {
  font-weight: 700;
}

.statistics-box p {
  padding: 0 24px;
  font-size: 15px;
  color: #9fa6ad;
}

.cards {
  padding: 0 32px;
  margin: -255px auto 0;
  max-width: 1163px;
  position: relative;
}

.cards-wrapper {
  display: flex;
}

.card-item {
  padding: 16px;
}

.cardd {
  padding: 48px 0;
  height: 100%;
  box-shadow: 0 12px 11px rgb(0 0 0 / 4%), 0 100px 80px rgb(0 0 0 / 7%);
  border-radius: 7px;
  text-align: center;
}

.cardd img:nth-child(2) {
  margin: 32px 0;
}

.cardd img {
  height: auto;
  width: 100%;
}

.cardd h3 {
  margin: 0 48px 12px;
  font-weight: 600;
}

.cardd-text {
  margin: 0 48px;
  margin-bottom: 32px !important;
}

.card-orange {
  background: linear-gradient(0deg, var(--orange-100) 30%, var(--white));
}

.card-blue {
  background: linear-gradient(0deg, var(--blue-100) 30%, var(--white));
}

.swiper {
  width: auto;
  height: 100px;
  display: inline-block;
  transform: translateY(28px);
}

.swiper-slide {
  width: auto !important;
  text-align: center;
  font-size: 55px;

  /* /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

@media (max-width: 769px) {
  .swiper {
    transform: translateY(15px);
  }
  .slider-wrapper h1 br {
    display: none;
  }
  .statistics-wrapper {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .statistics-box {
    padding: 16px 0;
  }
  .cards {
    max-width: 557px;
  }
  .cards-wrapper {
    flex-wrap: wrap;
  }
}

@media (max-width: 481px) {
  .wrapper-home {
    padding: 12px;
  }
  .bgc-dark-gradient {
    padding: 12px 12px;
  }
  .box-wrapper {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
  }
  .box {
    padding: 12px;
  }
  .slider-wrapper {
    text-align: center;
  }
  .slider-wrapper h1 {
    font-size: 33px;
  }
  .swiper {
    transform: translateY(35px);
  }
  .swiper-slide {
    font-size: 33px;
  }
}
