:root {
  --primary-bg-color: #f1f2f3;
}

.forgetpassword {
  background: var(--primary-bg-color);
}

.forgetpassword__container {
  max-width: 1264px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.forgetpassword__box{
    max-width: 315px;
    background: white;
    padding: 24px;
    border-radius: 8px;
}

.forgetpassword__box > p{
    font-size: 12px;
}

.forgetpassword__form{
    margin-top: 12px;
}


.login__form-box > p {
    font-weight: 500;
}
